
@{
    ViewBag.Title = "Index Admin page";
}

<h2>Index Admin</h2>

@Html.ActionLink("Manage cities", "Index", "City")
<br />
@Html.ActionLink("Manage cars", "Index", "Car")
<br />
@Html.ActionLink("Manage additional options", "Index", "AdditionalOption")
<br />
@Html.ActionLink("Manage managers", "Index", "ManagerEdit")