@{
    ViewBag.Title = "Index Admin page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-offset-2">
        <h2>Admin Page</h2>
        <div class="col-md-5">
            <h3>Cars</h3>
            <p>
                In this page you can manage abstract cars. <br />
                You can:
                <ol>
                    <li>Create car</li>
                    <li>Edit car</li>
                    <li>Archive/unacrcive car</li>
                    <li>Manage car pricing</li>
                    <li>Search cars by substring and filter by archive</li>
                </ol>
            </p>
        </div>
    </div>
  

    <div class="col-md-5">
        <h3>Additional options</h3>
        <p>
            In this page you can manage additional options. <br />
            You can:
            <ol>
                <li>Create additional option</li>
                <li>Delete additional option</li>
            </ol>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2">
        <div class="col-md-5">
            <h3>Managers</h3>
            <p>
                In this page you can manage managers. <br />
                You can:
                <ol>
                    <li>Register new manager</li>
                    <li>Delete manager</li>
                </ol>
            </p>
        </div>

        <div class="col-md-5">
            <h3>Users</h3>
            <p>
                In this page you can manage users. <br />
                You can:
                <ol>
                    <li>Searsh users by substring</li>
                    <li>Filter users by block</li>
                    <li>Block user</li>
                    <li>View all user information</li>
                </ol>
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2">
        <div class="col-md-5">
            <h3>Stocks</h3>
            <p>
                In this page you can manage stocks. <br />
                You can:
                <ol>
                    <li>Manage stock in every city</li>
                    <li>View all cars amount of each car</li>
                    <li>View all rented car amount of each car</li>
                    <li>Add/remove specific cars</li>
                    <li>Archive/unachive specific cars</li>
                    <li>Edit specific cars</li>                                     
                </ol>
            </p>
        </div>

        <div class="col-md-5">
            <h3>Offices</h3>
            <p>
                In this page you can manage offices. <br />
                You can:
                <ol>
                    <li>Add/remove office to each city</li>
                    <li>Edit office</li>
                    <li>Archive/unarchive office</li>
                </ol>
            </p>
        </div>
    </div>
</div>