@model IEnumerable<CarRent.ViewModels.UserIndexViewModel>
@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List of all users</h2>

@using (Ajax.BeginForm("GetUserList", "Admin", new  AjaxOptions{UpdateTargetId = "results" }, new { @class = "navbar-form navbar-left" }))
{
    <div class="form-group">
        @Html.TextBox("search", null, new { @class = "form-control", @placeholder = "Search User" })
    </div>
    @:|
    <div class="checkbox">
        @Html.CheckBox("showBlock", false) Show blocked users
    </div>
    @:|
    <button type="submit" class="btn btn-default">Submit</button>
}

<div id="results">
    @Html.Action("GetUserList")
</div>