<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9df1d714-281b-43a8-9c71-a3c32f0089b3/resourcegroups/CarRent/providers/Microsoft.Web/sites/CarRent20190318014101</ResourceId>
    <ResourceGroup>CarRent</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://carrent20190318014101.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>carrent20190318014101.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CarRent20190318014101</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CarRent20190318014101</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:carrent20190318014101dbserver.database.windows.net,1433;Initial Catalog=CarRent20190318014101_db;User ID=me@carrent20190318014101dbserver;Password=moldovaN1211" Name="Data Source=tcp:carrent20190318014101dbserver.database.windows.net,1433;Initial Catalog=CarRent20190318014101_db;User Id=me@carrent20190318014101dbserver;Password=moldovaN1211" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DataBase.ApplicationDbContext, Database" MigrationConfiguration="Database.Migrations.Configuration, Database" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:carrent20190318014101dbserver.database.windows.net,1433;Initial Catalog=CarRent20190318014101_db;User Id=me@carrent20190318014101dbserver;Password=moldovaN1211</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>