@{
    ViewBag.Title = "Contact";
}

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Brand</a>
    </div>
</nav>